
.membership {
    border-top: 1px solid rgba(11,18,25,.1);
    border-bottom: 1px solid rgba(11,18,25,.1);
}

.mem {
    margin-left: 2rem;
}
.mem-head {
    font-weight: 700;
    font-size: 20px;
}

.mem-list {
    color: gray;
    font-size: 14px;
}

.flash {
    float: right;
    font-size: 16px;
    color: #ef4281
}

.explore-button {
    text-align: center;
    float: right;
    font-size: 14px;
    color: #fff;
    border: none !important;
    background: #24aeb1 !important;
    box-shadow: 0 6px 12px 0 rgb(36 174 177 / 40%) !important;
    letter-spacing: 1px;
}