
.signin-box {
    background: #fff;
    border-radius: 16px;
}

.signin-head {
    font-weight: bold;
    font-size: 24px;
    color: #151b39;
}

.signin-txt {
    font-size: 14px;
    color: rgba(21,27,57,.6);
}

.signin-label {
    font-weight: bold;
    font-size: 11px;
    color: #24aeb1;
}

.input-form,
.input-form:active,
.input-form:focus,
.input-form:hover {
    border: none;
    outline: none !important;
    border-bottom: 2px solid rgba(21,27,57,.04);
    font-size: 16px;
    width: 90%;
    color: #151b39;
}


.signin-btn,
.signin-btn:active,
.signin-btn:focus,
.signin-btn:hover {
    background-color: #24aeb1;
    font-weight: bold;
    border: none;
    box-shadow: none !important;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    padding: 10px 6px;
}